<h2>Showing Merchant: <%= @merchant.id %></h2>

<p>Merchant Name: <%= @merchant.name %></p>

<form action="/merchants/<%= @merchant.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
