<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spending Project</title>
  </head>
  <body>

    <nav>
      <ul>
        <li><a href="/account">View Account</a></li>
        <li><a href="/account/transactions">View All Transactions</a></li>
        <li><a href="/account/transactions/new">Add New Transaction</a></li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
