<h2>Add New Transaction</h2>
<form method="POST" action="/transactions">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="date">Date:</label>
      <input type="date" name="date" id="date"/>
    </div>

    <div class="form-el">
      <label for="merchant_select">Select Merchant:</label>
      <select name="merchant_id" id="merchant_select">
        <% @merchants.each do |merchant| %>
            <option value=<%= merchant.id %>><%= merchant.name.capitalize %></option>
        <% end %>
      </select>
    </div>

    <div class="form-el">
      <label for="tag_select">Select Tag:</label>
      <select name="tag_id" id="tag_select">
        <% @tags.each do |tag| %>
            <option value=<%= tag.id %>><%= tag.name %></option>
        <% end %>
      </select>
    </div>

    <div class="form-el">
      <label for="amount">Amount: £</label>
      <input type="number" step="0.01" min="0.00" name="amount" id="amount"/>
    </div>

    <div class="form-el">
      <label for="time">Time:</label>
      <input type="time" name="time" id="time"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Add Transaction"/>
    </div>

  </div>
</form>
